:root {
	--background: #ffffff;

	--primary-brand: #4d5ae5;
	--pressed-state: #404bbf;

	--dark-color: #2e2f42;
	--success-color: #31d0aa;

	--text-color: #434455;
	--subtle-text-color: #8e8f99;

	--accent-color: #e7e9fc;
	--light-color: #f4f4fd;

	--modal-overlay: rgba(46, 47, 66, 0.4);
	--modal-background: #fcfcfc;
	--hero-background: rgba(46, 47, 66, 0.7);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--text-color);
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	background-color: var(--background);
}

.container {
	width: 428px;
	padding-left: 16px;
	padding-right: 16px;
	margin-right: auto;
	margin-left: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.link {
	text-decoration: none;
}

/* 
		LOGO STYLE
*/

.logo {
	display: block;

	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: var(--dark-color);

	text-decoration: none;
}

.logo-accent {
	color: var(--primary-brand);
}

/* temp style */
.hidden {
	display: none;
}

/* 
		GENERAL-STYLES
*/

.section {
	padding-top: 96px;
	padding-bottom: 96px;
}

.section-header,
.content-header {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	text-align: center;
	color: var(--dark-color);
}

.content-wrapper {
	list-style-type: none;
}

.section-header {
	margin-bottom: 72px;
}

.content-header {
	margin-bottom: 8px;
}

.content-block:not(:last-of-type) {
	margin-bottom: 72px;
}

.content-block-description {
	padding-top: 32px;
	padding-bottom: 32px;
	padding-right: 16px;
	padding-left: 16px;
}

.content-block-header,
.content-block-text {
	margin-bottom: 8px;
}

.content-block-header {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
}

/* 
		SOCIAL LINK STYLES
*/

.social-links {
	display: flex;
	justify-content: space-between;
	align-items: center;

	list-style-type: none;
}

.social-links .icon-box {
	width: 40px;
	height: 40px;
	background-color: var(--primary-brand);
	border-radius: 50%;
}

.social-links .icon-box > .link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

/*
		PRIMARY-BUTTON
*/

.primary-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 169px;
	height: 56px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--background);

	background-color: var(--primary-brand);
	border-style: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover,
.primary-button:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.primary-button:active {
	background-color: var(--pressed-state);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* 
		PAGE HEADER 
*/

.logo-wrapper .logo {
	display: inline-block;
	padding-top: 24px;
	padding-bottom: 24px;
}

/*
		HERO SECTION
*/

.hero-section {
	width: 100%;
	min-height: 432px;

	background-color: var(--dark-color);
	background-image: linear-gradient(to right, var(--hero-background), var(--hero-background)),
		url(../images/people-office.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-section .container {
	padding-top: 112px;
	padding-bottom: 112px;
}

.hero-header {
	text-align: center;
	font-weight: 500;
	font-size: 32px;
	line-height: 1.11;

	color: var(--background);
}

.hero-section .hero-header {
	margin-bottom: 72px;
}

/* 
		FEATURES-SECTION
*/

.features-icon-box {
	display: none;
}

/* 
		WORKS-SECTION
*/

.works.section {
	display: none;
}

/* 
		OUR-TEAM SECTION
*/

.team.section {
	padding-bottom: 128px;

	background-color: var(--light-color);
}

.team.section .content-block {
	margin-right: auto;
	margin-left: auto;
}

.team-card {
	width: 264px;

	text-align: center;

	background-color: var(--background);
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*
		CUSTOMERS
*/

.customers .content-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.customers .item:not(:nth-last-child(-n + 2)) {
	margin-bottom: 72px;
}

.customers .item {
	display: inline-flex;
	width: 190px;
	height: 88px;
	padding: 16px 32px;

	border: 1px solid var(--subtle-text-color);
	border-radius: 4px;
	fill: var(--subtle-text-color);

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers .item:hover,
.customers .item:focus {
	border: 1px solid var(--primary-brand);
	fill: var(--primary-brand);
}

.customers .link {
	display: block;
}

.customers .icon {
	display: inline-block;
	fill: inherit;
	width: 100%;
	height: 100%;
}

/* 
		FOOTER
*/

.footer {
	padding-top: 96px;
	padding-bottom: 96px;

	color: var(--accent-color);
	background-color: var(--dark-color);
}

.footer-block {
	padding-left: 64px;
	padding-right: 64px;
}

.footer-block:not(:last-of-type) {
	margin-bottom: 72px;
}

.footer .logo,
.footer-header {
	margin-bottom: 16px;
}

.footer .logo {
	text-align: center;
	color: var(--light-color);
}

.footer-header {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--background);
}

.footer .icon-box {
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .icon-box:hover,
.footer .icon-box:focus {
	background-color: var(--success-color);
}

.footer .icon-box:not(:last-child) {
	margin-right: 16px;
}

/* subscribe field */

.subscribe-wrapper {
	padding-left: 0;
	padding-right: 0;
}

.subscribe-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer .subscribe-field {
	width: 100%;
	padding: 8px 16px;
	margin-bottom: 16px;

	font-size: 12px;
	line-height: 2;

	background-color: transparent;
	color: var(--light-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	outline: unset;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .subscribe-field::placeholder {
	font-family: inherit;
	font-weight: 400;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.6);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .subscribe-field:focus {
	border: 1px solid var(--primary-brand);
}

.subscribe-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 165px;
	height: 40px;
	padding: 8px 24px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--background);

	background-color: var(--primary-brand);
	border-style: none;
	border-radius: 4px;
	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.subscribe-button:active {
	background-color: var(--pressed-state);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-button-icon {
	margin-left: 16px;
	fill: var(--background);
}
