/* 
--background: #ffffff;
--secondary-color: #2E2F42;
--text-color: #434455;
--secondary-text-color: #F4F4FD;
--accent-color: #4D5AE5;
--secondary-accent-color: #E7E9FC;
*/

:root {
	--background: #ffffff;

	--primary-brand: #4d5ae5;
	--pressed-state: #404bbf;

	--dark-color: #2e2f42;
	--success-color: #31d0aa;

	--text-color: #434455;
	--subtle-text-color: #8e8f99;

	--accent-color: #e7e9fc;
	--light-color: #f4f4fd;

	--modal-overlay: rgba(46, 47, 66, 0.4);
	--modal-background: #fcfcfc;
	--hero-background: rgba(46, 47, 66, 0.7);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--text-color);
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	background-color: var(--background);
}

.container {
	width: 1158px;
	margin: 0 auto;
	padding: 0 15px;
}

.grey {
	background-color: var(--light-color);
}

.block {
	display: block;
}

/* ------------------ logo style ------------------ */

.logo {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 1.3;
	letter-spacing: 0.03em;
	color: var(--dark-color);

	text-decoration: none;
}

.footer .logo {
	display: block;
	margin-bottom: 16px;

	color: var(--light-text-color);
}

.logo-accent {
	color: var(--primary-brand);
}

/* ------------------ links ------------------ */

.link {
	text-decoration: none;
	color: var(--text-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
	color: var(--primary-brand);
}

.nav-link,
.contact.link,
.logo.header {
	display: block;
	padding: 24px 0;
}

.nav-link {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: var(--dark-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item.active .nav-link {
	position: relative;
	color: var(--primary-brand);
}

.item.active .nav-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;

	background-color: var(--primary-brand);
	border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--text-color);
}

.nav-link:active,
.contact.link:hover,
.contact.link:focus {
	color: var(--primary-brand);
}

/* ------------------ headers ------------------ */

.header {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	color: var(--dark-color);
}

.section-header {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
}

.list.header {
	margin-bottom: 8px;

	font-size: 20px;
	line-height: 1.2;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* ------------------ nav menu ------------------ */

.nav-wrapper {
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-block {
	display: flex;
	justify-content: space-between;
}

.logo-wrapper {
	margin-right: 77px;
}

.nav-menu .item:not(:last-child) {
	margin-right: 40px;
}

.nav-menu,
.nav-menu .item {
	display: inline-block;
	position: relative;
}

/* ------------------ hero section ------------------ */

.hero-wrapper {
	max-width: 1440px;
	max-height: 600px;
	margin: 0 auto;
	padding: 192px 0;

	text-align: center;

	background-color: var(--dark-color);
	background-image: linear-gradient(to right, var(--hero-background), var(--hero-background)),
		url(../images/people-office.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero.header {
	margin-bottom: 48px;

	font-weight: 500;
	font-size: 56px;
	line-height: 1.07;

	color: var(--background);
}

/* -----------------content section ----------------- */

.section-header {
	margin-bottom: 72px;

	font-weight: 500;
	font-size: 36px;
	line-height: 1.11;
	color: var(--dark-color);
	text-align: center;
}

.content.list {
	display: flex;
	justify-content: space-between;
	column-gap: 24px;
}

.section.features {
	padding: 120px 0;
}

.features .icon-img-box {
	display: block;
	width: 264px;
	height: 112px;
	padding: 24px 0;
	margin-bottom: 8px;

	text-align: center;

	background-color: var(--light-color);
	border-radius: 4px;
}

.features .icon {
	width: 64px;
	height: 64px;
}

.section.pictures {
	padding-bottom: 120px;
}

.section.grey {
	margin: 0;
	padding: 120px 0;
}

/* ------------------ list classes ------------------ */

.list {
	list-style-type: none;
}

.list.team {
	text-align: center;

	background-color: var(--background);
}

.team-list {
	text-align: center;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-description {
	padding: 32px 16px;
}

.team-list-description .text {
	margin-bottom: 8px;
}

.list-box {
	background-color: var(--background);
}

.team-list {
	border-radius: 0 0 4px 4px;
}

.social-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* social-icon-style */

.icon-box > .link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.list-icon > .link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.social-links {
	padding: 4px 0;
}

.social-links .icon-box {
	width: 40px;
	height: 40px;
	background-color: var(--primary-brand);
	border-radius: 50%;
}

.social-links .icon {
	width: 16px;
	height: 16px;
}

/* ------------------ portfolio gallery ------------------ */

.portfolio-wrapper {
	padding: 96px 0 120px;
}

.portfolio.list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 48px;
	column-gap: 24px;
}

.portfolio-item {
	display: block;
	color: var(--text-color);
	text-decoration: none;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-description {
	padding: 32px 16px;

	border: 0.5px solid var(--light-color);
	border-top: none;
}

.header.portfolio {
	margin-bottom: 8px;

	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.filter-btn-wrapper {
	margin-bottom: 78px;
	text-align: center;
}

.filter-btn-item {
	display: inline;
	margin-right: 24px;
}

.filter-btn-item:last-child {
	margin-right: 0;
}

/* .portfolio - overlay */

.portfolio-item .item-thumb {
	position: relative;

	overflow: hidden;
}

.portfolio-item .overlay {
	display: block;
	width: 100%;
	height: 100%;
	padding: 40px 32px;

	position: absolute;
	top: 0;
	left: 0;

	color: var(--light-color);

	background-color: var(--primary-brand);

	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
	transform: translateY(0);
}

/* ------------------ buttons ------------------ */

.order-button {
	display: block;
	margin: 0 auto;
	width: 170px;
	height: 51px;

	font-family: inherit; /*important*/
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.04em;
	color: var(--background);

	background-color: var(--primary-brand);
	border-style: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe .button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 165px;
	height: 40px;
	padding: 8px 24px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--background);

	background-color: var(--primary-brand);
	border-style: none;
	border-radius: 4px;
	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus,
.subscribe .button:hover,
.subscribe .button:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.order-button:active,
.subscribe .button:active {
	background-color: var(--pressed-state);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter-button {
	padding: 12px 24px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.28;
	color: var(--primary-brand);

	background-color: var(--light-color);
	border: 1px solid var(--accent-color);
	border-radius: 4px;
	cursor: pointer;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
	color: var(--light-color);

	background-color: var(--primary-brand);
	border: 1px solid transparent;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------------------ customers ------------------ */

.customers {
	padding-top: 120px;
	padding-bottom: 120px;
}

.customers .list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.customers .item {
	display: inline-flex;
	width: 168px;
	height: 88px;
	padding: 16px 32px;

	border: 1px solid var(--subtle-text-color);
	border-radius: 4px;
	fill: var(--subtle-text-color);

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers .item:hover,
.customers .item:focus {
	border: 1px solid var(--primary-brand);
	fill: var(--primary-brand);
}

.customers .icon {
	display: inline-block;
	fill: inherit;
	width: 100%;
	height: 100%;
}

/* ------------------ footer ------------------ */

.footer {
	padding: 100px 0;

	color: var(--accent-color);

	background-color: var(--dark-color);
}

.footer .container {
	display: flex;
}

.footer .box:not(:last-child) {
	margin-right: 120px;
}

.footer .description {
	width: 264px;
}

.footer .header-box {
	margin-bottom: 16px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--background);
}

.footer .icon-box {
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .icon-box:hover,
.footer .icon-box:focus {
	background-color: var(--success-color);
}

.footer .icon-box:not(:last-child) {
	margin-right: 16px;
}

.footer .icon {
	display: block;
	width: 24px;
	height: 24px;
}

.footer .subscribe {
	display: flex;
}

.footer .subscribe-field {
	width: 264px;
	margin-right: 24px;
	padding: 8px 16px;

	background-color: transparent;
	color: var(--light-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	outline: unset;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .subscribe-field::placeholder {
	font-family: inherit;
	font-weight: 400;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.6);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .subscribe-field:focus {
	border: 1px solid var(--primary-brand);
}

.subscribe-button-icon {
	margin-left: 16px;
	fill: var(--background);
}

/* ------------------- modal window ----------------- */

.backdrop {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background-color: var(--modal-overlay);

	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.5);
	opacity: 0;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 576px;
	width: 408px;
	padding: 24px;

	background: var(--modal-background);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
	display: flex;
	flex-direction: column;
	font-family: inherit;

	font-weight: 400;
	font-size: 12px;
}

.modal-header {
	margin-bottom: 14px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--dark-color);
}

.btn-modal {
	display: block;
	margin-left: auto;
	margin-bottom: 24px;
	width: 24px;
	height: 24px;

	background-color: var(--accent-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover,
.btn-modal:active {
	background-color: var(--pressed-state);
	fill: var(--background);
	border: none;
	border-radius: 50%;
}

.modal .form-field {
	position: relative;
	margin-bottom: 8px;
}

.modal .form-field:last-of-type {
	margin-bottom: 24px;
}

.modal .form-icon {
	position: absolute;
	left: 16px;
	top: 14px;
	display: flex;

	fill: var(--dark-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form-icon .icon {
	display: inline-block;
}

.modal .form-field:focus-within .form-icon {
	fill: var(--primary-brand);
}

.modal .form-input,
.modal .form-area {
	width: 100%;

	background-color: transparent;
	border-radius: 4px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	outline: unset;
	transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form-input:focus,
.modal .form-area:focus {
	outline: 1px solid var(--primary-brand);
	outline-offset: -1px;
}

.modal .form-label {
	display: inline-block;
	margin-bottom: 4px;

	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--subtle-text-color);
}

.modal .form-input {
	height: 40px;
	padding-left: 38px;
	color: var(--dark-color);
}

.modal .form-area {
	resize: none;
	padding: 8px 16px;
	margin-bottom: 16px;

	font-family: inherit;
	font-size: inherit;
	line-height: 1.33;
	letter-spacing: 0.04em;
	color: var(--dark-color);
}

.modal .form-area::placeholder {
	font-size: 12px;
	line-height: 1.33;
	color: rgba(117, 117, 117, 0.5);
}

.modal .form-area:focus::placeholder {
	color: transparent;
}

.modal .privacy-policy {
	display: inline-flex;
}

.modal .text-policy {
	user-select: none;

	margin-left: 8px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	color: #757575;
}

.modal .text-policy .link {
	text-decoration: revert;
	color: var(--primary-brand);
}

.modal .text-policy .link:hover,
.modal .text-policy .link:focus {
	color: var(--text-color);
}

.modal .form-field input[type="checkbox"] {
	appearance: none;
}

/* checkbox */

.checkbox-check {
	opacity: 0;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form-checkbox:checked ~ .checkbox > .checkbox-check {
	opacity: 1;
}

.modal .form-checkbox:checked ~ .checkbox > .checkbox-uncheck {
	opacity: 0;
}
