:root {
	--background: #ffffff;

	--primary-brand: #4d5ae5;
	--pressed-state: #404bbf;

	--dark-color: #2e2f42;
	--success-color: #31d0aa;

	--text-color: #434455;
	--subtle-text-color: #8e8f99;

	--accent-color: #e7e9fc;
	--light-color: #f4f4fd;

	--modal-overlay: rgba(46, 47, 66, 0.4);
	--modal-background: #fcfcfc;
	--hero-background: rgba(46, 47, 66, 0.7);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--text-color);
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	background-color: var(--background);
}

.container {
	max-width: 428px;
	padding-left: 16px;
	padding-right: 16px;
	margin-right: auto;
	margin-left: auto;
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.link {
	text-decoration: none;
}

/* 
		LOGO STYLE
*/

.logo {
	display: block;

	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: var(--dark-color);

	text-decoration: none;
}

.logo-accent {
	color: var(--primary-brand);
}

/* temp style */
.hidden {
	display: none;
}

/* 
		GENERAL-STYLES
*/

.section {
	padding-top: 96px;
	padding-bottom: 96px;
}

.section-header,
.content-header {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	text-align: center;
	color: var(--dark-color);
}

.content-wrapper {
	list-style-type: none;
}

@media screen and (min-width: 768px) {
}

.section-header {
	margin-bottom: 72px;
}

.content-header {
	margin-bottom: 8px;
}

.content-block:not(:last-of-type) {
	margin-bottom: 72px;
}

.content-block-description {
	padding-top: 32px;
	padding-bottom: 32px;
	padding-right: 16px;
	padding-left: 16px;
}

.content-block-header,
.content-block-text {
	margin-bottom: 8px;
}

.content-block-header {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
}

@media screen and (min-width: 768px) {
	.content-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 24px;
		row-gap: 72px;
	}

	.content-block {
		flex-basis: calc(100% / 2 - 24px);
	}

	.content-block:not(:last-of-type) {
		margin-bottom: 0;
	}
}

/* 
		SOCIAL LINK STYLES
*/

.social-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 24px;

	list-style-type: none;
}

.social-links .icon-box {
	width: 40px;
	height: 40px;
	background-color: var(--primary-brand);
	border-radius: 50%;
}

/* .social-links .icon-box:not(:last-of-type) {
	margin-right: 24px;
} */

.social-links .icon-box > .link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

/*
		PRIMARY-BUTTON
*/

.primary-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 169px;
	height: 56px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--background);

	background-color: var(--primary-brand);
	border-style: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover,
.primary-button:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.primary-button:active {
	background-color: var(--pressed-state);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* 
		PAGE HEADER 
*/

.page-header {
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-wrapper .logo {
	display: inline-block;
	padding-top: 24px;
	padding-bottom: 24px;
}

/*
		HERO SECTION
*/

.hero-section {
	width: 100%;
	height: 432px;

	background-color: var(--dark-color);
	background-image: linear-gradient(to right, var(--hero-background), var(--hero-background)),
		url(../images/people-office.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-section .container {
	padding-top: 112px;
	padding-bottom: 112px;
}

.hero-header {
	text-align: center;
	font-weight: 700;
	font-size: 32px;
	line-height: 1.11;
	color: var(--background);
	letter-spacing: 0.02em;
}

.hero-section .hero-header {
	margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
	.hero-section {
		height: 436px;
	}

	.hero-section .container {
		padding-bottom: 108px;
	}

	.hero-header {
		font-size: 56px;
		line-height: 1.07;
	}

	.hero-section .hero-header {
		margin-bottom: 40px;
	}
}

/* 
		FEATURES-SECTION
*/

.features-icon-box {
	display: none;
}

/* 
		WORKS-SECTION
*/

.works.section {
	display: none;
}

/* 
		OUR-TEAM SECTION
*/

.team.section {
	padding-bottom: 128px;

	background-color: var(--light-color);
}

.team.section .content-block {
	margin-right: auto;
	margin-left: auto;
}

.team-card {
	max-width: 264px;

	text-align: center;

	background-color: var(--background);
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
	.team.section {
		padding-bottom: 104px;
	}

	.team.section .content-wrapper {
		margin: 0;
		column-gap: 24px;
		row-gap: 64px;
	}

	.team.section .content-block {
		margin: 0;
	}
}

/*
		CUSTOMERS
*/

.customers .content-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	row-gap: 72px;
}

/* .customers .item:not(:nth-last-child(-n + 2)) {
	margin-bottom: 72px;
} */

.customers .item {
	display: inline-flex;
	width: 190px;
	height: 88px;
	padding: 16px 32px;

	border: 1px solid var(--subtle-text-color);
	border-radius: 4px;
	fill: var(--subtle-text-color);

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers .item:hover,
.customers .item:focus {
	border: 1px solid var(--primary-brand);
	fill: var(--primary-brand);
}

.customers .link {
	display: block;
}

.customers .icon {
	display: inline-block;
	fill: inherit;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 768px) {
	.customers .content-wrapper {
		justify-content: center;
	}

	.customers .item {
		max-width: 168px;
	}
}

/* 
		FOOTER
*/

.footer {
	padding-top: 96px;
	padding-bottom: 96px;

	color: var(--accent-color);
	background-color: var(--dark-color);
}

.footer-block {
	padding-left: 64px;
	padding-right: 64px;
}

.footer-block:not(:last-of-type) {
	margin-bottom: 72px;
}

.footer .logo,
.footer-header {
	margin-bottom: 16px;
}

.footer .logo {
	text-align: center;
	color: var(--light-color);
}

.footer-header {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--background);
}

.footer .social-links {
	justify-content: center;
	column-gap: 16px;
}

.footer .icon-box {
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .icon-box:hover,
.footer .icon-box:focus {
	background-color: var(--success-color);
}

/* .footer .icon-box:not(:last-child) {
	margin-right: 16px;
} */

/* subscribe field */

.subscribe-wrapper {
	padding-left: 0;
	padding-right: 0;
}

.subscribe-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer .subscribe-field {
	width: 100%;
	padding: 8px 16px;
	margin-bottom: 16px;

	font-size: 12px;
	line-height: 2;

	background-color: transparent;
	color: var(--light-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	outline: unset;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .subscribe-field::placeholder {
	font-family: inherit;
	font-weight: 400;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.6);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .subscribe-field:focus {
	border: 1px solid var(--primary-brand);
}

.subscribe-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 165px;
	height: 40px;
	padding: 8px 24px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--background);

	background-color: var(--primary-brand);
	border-style: none;
	border-radius: 4px;
	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.subscribe-button:active {
	background-color: var(--pressed-state);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-button-icon {
	margin-left: 16px;
	fill: var(--background);
}

@media screen and (min-width: 768px) {
	.footer .container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: 24px;

		padding-left: 108px;
		padding-right: 108px;
	}

	.footer .logo,
	.footer-header {
		text-align: left;
	}

	.footer-block {
		padding: 0;
		flex-basis: calc(100% / 2 - 12px);
	}

	.footer .social-links {
		justify-content: flex-start;
		column-gap: 16px;
	}

	.subscribe-wrapper {
		flex-basis: 100%;
	}

	.subscribe-block {
		flex-direction: row;
		justify-content: flex-start;
		column-gap: 24px;
	}

	.footer .subscribe-field {
		margin: 0;
		flex-basis: calc(100% / 2 - 12px);
	}

	.footer .subscribe-button {
		flex-basis: calc(100% / 2 - 12px);
		max-width: 165px;
	}
}

/* 
		MODAL WINDOW
*/

.backdrop {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* padding-top: 96px;
	padding-left: 18px;
	padding-right: 18px; */

	background-color: var(--modal-overlay);

	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.5);
	opacity: 0;
}

.modal {
	width: calc(100% - 32px);
	max-width: 428px;

	position: absolute;
	top: 50%;
	left: 50%;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 16px;
	padding-right: 16px;

	background: var(--modal-background);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal {
	display: block;
	margin-left: auto;
	margin-bottom: 24px;
	width: 24px;
	height: 24px;

	background-color: var(--accent-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover,
.btn-modal:active {
	background-color: var(--pressed-state);
	fill: var(--background);
	border: none;
	border-radius: 50%;
}

.modal-form {
	display: flex;
	flex-direction: column;
	font-family: inherit;

	font-weight: 400;
	font-size: 12px;
}

.modal-header {
	margin-bottom: 16px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--dark-color);
}

.modal .form-field {
	position: relative;
	margin-bottom: 8px;
}

.modal .form-field:last-of-type {
	margin-bottom: 24px;
}

.modal .form-icon {
	position: absolute;
	left: 16px;
	top: 14px;
	display: flex;

	fill: var(--dark-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form-icon .icon {
	display: inline-block;
}

.modal .form-field:focus-within .form-icon {
	fill: var(--primary-brand);
}

.modal .form-input,
.modal .form-area {
	width: 100%;

	background-color: transparent;
	border-radius: 4px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	outline: unset;
	transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form-input:focus,
.modal .form-area:focus {
	outline: 1px solid var(--primary-brand);
	outline-offset: -1px;
}

.modal .form-label {
	display: inline-block;
	margin-bottom: 4px;

	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--subtle-text-color);
}

.modal .form-input {
	line-height: 2;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 38px;
	color: var(--dark-color);
}

.modal .form-area {
	resize: none;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 16px;

	font-family: inherit;
	font-size: inherit;
	line-height: 1.33;
	letter-spacing: 0.04em;
	color: var(--dark-color);
}

.modal .form-area::placeholder {
	font-size: 12px;
	line-height: 1.33;
	color: rgba(117, 117, 117, 0.5);
}

.modal .form-area:focus::placeholder {
	color: transparent;
}

.modal .privacy-policy {
	display: inline-flex;
}

.modal .text-policy {
	user-select: none;

	margin-left: 8px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	color: #757575;
}

.modal .text-policy .link {
	text-decoration: revert;
	color: var(--primary-brand);
}

.modal .text-policy .link:hover,
.modal .text-policy .link:focus {
	color: var(--text-color);
}

.modal .form-field input[type="checkbox"] {
	appearance: none;
}

/* checkbox */

.checkbox-check {
	opacity: 0;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form-checkbox:checked ~ .checkbox > .checkbox-check {
	opacity: 1;
}

.modal .form-checkbox:checked ~ .checkbox > .checkbox-uncheck {
	opacity: 0;
}

/*
		PORTFOLIO PAGE
*/

.filter-btn-wrapper {
	/* text-align: center; */
	padding-right: 133px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	column-gap: 24px;
	row-gap: 16px;

	list-style-type: none;
}

.filter-btn {
	padding: 8px 16px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.28;
	color: var(--primary-brand);

	background-color: var(--light-color);
	border: 1px solid var(--accent-color);
	border-radius: 4px;
	cursor: pointer;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
	color: var(--light-color);

	background-color: var(--primary-brand);
	border: 1px solid transparent;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-wrapper {
	padding-top: 48px;
	padding-bottom: 48px;

	list-style-type: none;
}

.gallery-item {
	text-decoration: none;
}

.gallery-block {
	display: block;

	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-block:not(:last-of-type) {
	margin-bottom: 48px;
}

.gallery-block:hover,
.gallery-block:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-item-thumb {
	position: relative;
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%; /* change */
}

.gallery-overlay {
	display: block;
	width: 100%;
	height: 100%;
	padding: 40px 32px;

	position: absolute;
	top: 0;
	left: 0;

	color: var(--light-color);

	background-color: var(--primary-brand);

	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover .gallery-overlay,
.gallery-item:focus .gallery-overlay {
	transform: translateY(0);
}

.gallery-description-wrapper {
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 16px;
	padding-right: 16px;
}

.gallery-description-header {
	margin-bottom: 8px;

	font-style: inherit;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--dark-color);
	letter-spacing: 0.02em;
}

.gallery-description-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--text-color);
}
